<div class="container">
  <h2>Register</h2>
  <div class="forms">
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <ng-container *ngIf="!form.controls['email'].untouched && form.controls['email'].errors">
        <mat-error *ngIf="form.controls['email'].errors['required']">
          Field is required
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors['email']">
          Invalid email
        </mat-error>
      </ng-container>

      <mat-form-field class="full-width">
        <input formControlName="password" matInput placeholder="Password" type="password">
      </mat-form-field>
      <ng-container *ngIf="!form.controls['password'].untouched && form.controls['password'].errors">
        <mat-error *ngIf="form.controls['password'].errors['required']">
          Field is required
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors['minlength']">
          Too short
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors['maxlength']">
          Too long
        </mat-error>
      </ng-container>

      <mat-form-field class="full-width">
        <input formControlName="confirmPassword" matInput placeholder="Confirm password" type="password">
      </mat-form-field>
      <ng-container
        *ngIf="!form.controls['confirmPassword'].untouched && form.controls['confirmPassword'].errors">
        <mat-error *ngIf="form.controls['confirmPassword'].errors['required']">
          Field is required
        </mat-error>
        <mat-error *ngIf="form.controls['confirmPassword'].errors['mustMatch']">
          Passwords do not match
        </mat-error>
      </ng-container>

      <mat-form-field class="full-width">
        <input formControlName="firstName" matInput placeholder="FirstName">
      </mat-form-field>
      <ng-container *ngIf="!form.controls['firstName'].untouched && form.controls['firstName'].errors">
        <mat-error *ngIf="form.controls['firstName'].errors['required']">
          Field is required
        </mat-error>
        <mat-error *ngIf="form.controls['firstName'].errors['minlength']">
          Too short
        </mat-error>
        <mat-error *ngIf="form.controls['firstName'].errors['maxlength']">
          Too long
        </mat-error>
      </ng-container>

      <mat-form-field class="full-width">
        <input formControlName="lastName" matInput placeholder="LastName">
      </mat-form-field>
      <ng-container *ngIf="!form.controls['lastName'].untouched && form.controls['lastName'].errors">
        <mat-error *ngIf="form.controls['lastName'].errors['required']">
          Field is required
        </mat-error>
        <mat-error *ngIf="form.controls['lastName'].errors['minlength']">
          Too short
        </mat-error>
        <mat-error *ngIf="form.controls['lastName'].errors['maxlength']">
          Too long
        </mat-error>
      </ng-container>
    </form>
  </div>
  <button mat-raised-button (click)="submit()">Register Now</button>
</div>
